
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}


body {
    background: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #860000;
    color: #fff;
    top: 0;
    z-index: 100;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

header nav a {
    justify-content: space-between;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
    display: flex;
    padding-right: 2%;
    column-gap: 10px;
    margin-right: 43px;
    width: 100px;
    
}

header nav a:hover {
    color: #ff001e;
}


main {
    padding: 80px 10%;
    display: flex;
    flex-direction: column;
    gap: 80px;
}


.sobre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.foto-perfil img {
    width: 300px;
    border-radius: 15px;
    border: 4px solid #b60000;
    box-shadow: 0 10px 20px rgb(165, 0, 0);
}

.descricao h2 {
    font-size: 28px;
    color: #000000;
    margin-bottom: 15px;
}

.descricao p {
    font-size: 16px;
    color: #c54a4a;
}


.projetos ul {
    display: grid;
}

.projetos li {
    background: #f4eded;
    padding: 20px;
    border-radius: 15px;
}

.projetos li:hover {
    
    box-shadow: 0 10px 20px rgb(0, 0, 0);
}

.projetos a {
    display: block;
    margin-top: 10px;
    color: #ef233c;
    text-decoration: none;
    font-weight: bold;
}

.projetos a:hover {
    text-decoration: none;
}


.habilidades table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
   
    
}

.habilidades th, .habilidades td {
    padding: 15px;
    text-align: center;
    
}

.habilidades th {
    background: #9c0000;
    color: #fff;
    
}


.contato form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contato input, .contato textarea {
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

.contato button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #b31e1e;
    color: #fff;
    font-size: 16px;
    transition: 0.3s;
}

.contato button:hover {
    background: #a50000;
}

footer {
    text-align: center;
    padding: 30px 0;
    background: #9e0000;
    color: #fff;
}

